$menuHeight: 380px;

@mixin animate($name, $duration, $direction: normal, $iteration: 1, $timing: ease-out, $delay: 0s) {
	-moz-animation: $name;
	-moz-animation-duration: $duration;
	-moz-animation-direction: $direction;
	-moz-animation-iteration-count: $iteration;
	-moz-animation-timing-function: $timing;
	-moz-animation-delay: $delay;
	-webkit-animation: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-direction: $direction;
	-webkit-animation-iteration-count: $iteration;
	-webkit-animation-timing-function: $timing;
	-webkit-animation-delay: $delay;
	animation: $name;
	animation-duration: $duration;
	animation-direction: $direction;
	animation-iteration-count: $iteration;
	animation-timing-function: $timing;
	animation-delay: $delay;
}