@import 'colors.scss';
@import 'lib.scss';
@import 'flex-layout.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
	max-width: 100%;
	max-height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	background: $bodyBg;
	font-family: 'Roboto Condensed', sans-serif;
}

.app {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#map {
	position: absolute;
	height: 100vh;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
}

.btmToolbar {
	height: 0px;
	bottom: 0;
	z-index: 100;
	position: absolute;
	&.open {
		@include animate(rise, 0.3s, $timing: ease-out);
		height: 100px;
		&.expand {
			@include animate(riseAgain, 0.2s, $timing: ease-out);
			height: 130px;
		}
	}
}

.waypointBar {
	display: none;
	height: 0px;
	background-color: $alphaBg;
	&.open {
		display: flex;
		@include animate(dock, 0.2s);
		height: 30px;
	}
}

.endpoint {
}

.instructionsBar {
	height: 100px;
	background-color: $alphaBg;
}

.maneuverIcon {
}

.btmBarText {
	color: $menuTxt;
	.heading {
		font-size: 12px;
	}
	.openNow {
		color: $standGreen;
	}
	.closedNow {
		color: $standPink;
	}
	.unavailable {
		color: $mutedYellow;
	}
}

.instructionsText {
}

.navBtn {
}

.toggleMenu {
	padding-left: 3px;
	margin-top: 5px;
	height: 30px;
	float: left;
}


.placesInput {
	font-size: 16px;
	padding-left: 5px;
	height: 30px;
	z-index: 120;
	margin-top: 5px;
}

.locationBtn {
	height: 30px;
	width: 30px;
	cursor: pointer;
	z-index: 130;
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 2px;
}

.menuFrame {
	height: 30px;
	width: 26px;
	border-radius: 2px;
	background-color: $alphaBg;
	cursor: pointer;
	z-index: 105;
}


.dock {
	width: 0px;
	&.expand {
		height: 16px;
		background-image: url('../images/path-icon.png');
		background-size: 100% 3px;
		background-position: center;
		background-repeat: no-repeat;
		@include animate(path, 1s, $timing: ease-in-out);
		width: 100%;
	}
}

.pointBucket {
	width: 16px;
	height: 100%;
}

.waypoint {
	//display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: $standGreen;
	margin: 0 auto;
}

.icon {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	&.iconMenu {
		width: 26px;
		height: 26px;
		background-image: url('../images/menu-icon.png');
	}
	&.iconLocation {
		height: 100%;
		width: 100%;
		background-image: url('../images/location-icon.png');
		cursor: pointer;
		background-size: 18px 18px;
		z-index: 126;
		&.finding {
		@include animate(spin360, 1s, $iteration: infinite, $timing: ease-in-out);
	}
	}
	&.iconEndpoint {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		margin: 0 auto;
		&.end {
			background-color: $standGreen;
		}
		&.start {
			border: 2px solid #DDD;
			background-color: $standBlue;
		}
	}
	&.iconCar {
		width: 100px;
		height: 100px;
		background-image: url('../images/car-outline-small.png');
		background-size: 100px 100px;
	}
	&.iconDiscover {
		height: 60px;
		border-radius: 2px;
		background-position: center top;
		text-align: center;
		color: white;
		padding-top: 15px;
		font-size: 14px;
		cursor: pointer;
		&.fa {
			font-size: 32px;
		}
		&.fa-car {
			font-size: 28px;
			background-color: $mutedOrange; 
		} 
		&.fa-paw {
			background-color: $mutedGreen;
		}
		&.fa-cutlery {
			background-color: $mutedYellow;
		}
		&.fa-money {
			background-color: $salmony;
		}
		&.fa-coffee {
			background-color: $mutedPurple;
		}
		&.fa-beer {
			background-color: $mutedBlue;
		} 
	}
}

.slideMenu {
	position: absolute;
	height: 0px;
	overflow: scroll;
	background-color: $alphaBg;	
	z-index: 101;
	&.open {
		animation: slideDown 0.2s;
		animation-timing-function: linear;
		animation-direction: normal;
		height: $menuHeight;
	}
	.menuOptions {
		display: none;
		&.active {
			display: initial;
			color: $menuTxt;
			list-style: none;
			text-decoration: none;
			padding: 40px 0 0 0;
			.opt {
				text-align: center;
				border-bottom: 1px solid $menuBorder;
				align-items: center;
				cursor: pointer;
				height: 55px;
				font-weight: 300;
				letter-spacing: 0.03em;
				&:hover {
					background-color: $menuHover;
				}
				
				&:last-child {
					border-bottom: none;
				}
				&:first-child {
					margin-top: 45px;
				}
			}
		}
	#go-discover {
		color: $standGreen;
	}
	}
	.discoverOptions {
		display: none;
		max-height: 300px;
		&.active {
			display: initial;
			list-style: none;
			text-decoration: none;
			max-height: 300px;
			.opt {
				height: 80px;
				flex-wrap: wrap;
				justify-content: flex-start;
				&:first-child {
					padding-top: 30px;
					height: 110px;
				}
			}
		}
		.labels {
			text-align: center;
			color: white;
			height: 20px;
			max-height: 20px;
			justify-content: center;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 300;
			margin-top: -10px;
			
		}
	}
}

@-moz-keyframes path {
	0%
	{ width: 0px; }
	100%
	{ width: 100%; }
}

@-webkit-keyframes path {
	0%
	{ width: 0px; }
	100%
	{ width: 100%; }
}

@keyframes path {
	0%
	{ width: 0px; }
	100%
	{ width: 100%; }
}

@-moz-keyframes slideDown {
	0%
	{ height: 0px; }
	100%
	{ height: $menuHeight; }
}

@-webkit-keyframes slideDown {
	0%
	{ height: 0px; }
	100%
	{ height: $menuHeight; }
}

@keyframes slideDown {
	0%
	{ height: 0px; }
	100%
	{ height: $menuHeight; }
}

@-moz-keyframes pulse {
	0% 
	{ opacity: 1; }
	100%
	{ opacity: 0.6; }
}

@-webkit-keyframes pulse {
	0% 
	{ opacity: 1; }
	100%
	{ opacity: 0.6; }
}

@keyframes pulse {
	0% 
	{ opacity: 1; }
	100%
	{ opacity: 0.6; }
}

@-moz-keyframes spin360 {
	0% 
	{ -moz-transform: rotate(0deg); }
	100%
	{ -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin360 {
	0% 
	{ -webkit-transform: rotate(0deg); }
	100%
	{ -webkit-transform: rotate(360deg); }
}

@keyframes spin360 {
	0% 
	{ transform: rotate(0deg); }
	100%
	{ transform: rotate(360deg); }
}

@-moz-keyframes rise {
	0% 
	{ height: 0px; }
	100%
	{ height: 100px; }
}

@-webkit-keyframes rise {
	0% 
	{ height: 0px; }
	100%
	{ height: 100px; }
}

@keyframes rise {
	0% 
	{ height: 0px; }
	100%
	{ height: 100px; }
}

@-moz-keyframes riseAgain {
	0% 
	{ height: 100px; }
	100%
	{ height: 130px; }
}

@-webkit-keyframes riseAgain {
	0% 
	{ height: 100px; }
	100%
	{ height: 130px; }
}

@keyframes riseAgain {
	0% 
	{ height: 100px; }
	100%
	{ height: 130px; }
}

@-moz-keyframes dock {
	0% 
	{ height: 0px; }
	100%
	{ height: 30px; }
}

@-webkit-keyframes dock {
	0% 
	{ height: 0px; }
	100%
	{ height: 30px; }
}

@keyframes dock {
	0% 
	{ height: 0px; }
	100%
	{ height: 30px; }
}