@import 'flex-grid.scss';
@import 'colors.scss';
$menuHeight: 380px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	max-width: 100%;
	max-height: 100vh;
	background: $bodyBg;
	font-family: 'Roboto Condensed', sans-serif;
}

.app {
	width: 400px;
	max-width: 100%;
	height: 100vh;
	max-height: 750px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	padding: 0;
	background-color: $testBg;
}

.column, .columns {
	margin: 0 auto;
	height: 100%;
	&.one {
		width: calc(100% / 12);
	}
	&.two {
		width: calc((100% / 12) * 2);
	}
	&.three {
		width: calc((100% / 12) * 3);
	}
	&.four {
		width: calc((100% / 12) * 4);
	}
	&.five {
		width: calc((100% / 12) * 5);
	}
	&.six {
		width: calc((100% / 12) * 6);
	}
	&.seven {
		width: calc((100% / 12) * 7);
	}
	&.eight {
		width: calc((100% / 12) * 8);
	}
	&.nine {
		width: calc((100% / 12) * 9);
	}
	&.ten {
		width: calc((100% / 12) * 10);
	}
	&.eleven {
		width: calc((100% / 12) * 11);
	}
	&.twelve {
		width: 100%;
	}
	&.fourth {
		width: 25%;
	}
	&.third {
		width: calc(100% / 3);
	}
	&.half {
		width: 50%;
	}
	&.two-thirds {
		width: calc((100% / 3) * 2);
	}
	&.three-quarters {
		width: 75%;
	}
}

.flexRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	&.reverse {
		flex-direction: row-reverse;
	}
}

.flexCol {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	align-content: center;
	justify-content: center;
	&.reverse {
		flex-direction: column-reverse;
	}
}

.flexItem {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	.x2 {
		flex-grow: 2;
	}
	.x3 {
		flex-grow: 3;
	}
	.x4 {
		flex-grow: 4;
	}
	.x5 {
		flex-grow: 5;
	}
	.x6 {
		flex-grow: 6;
	}
	.x7 {
		flex-grow: 7;
	}
	.x8 {
		flex-grow: 8;
	}
}

#map {
	position: absolute;
	height: 100vh;
	max-height: 100%;
	width: 100%;
	max-width: 400px;
	background-image: url('../images/map.png');
	background-size: 400px 750px;
}

.overMap {
	position: absolute;
	&.topToolbar {
		height: 40px;
		z-index: 110;
		top: 0;
	}
	&.btmToolbar {
		height: 130px;
		bottom: 0;
	}
}

.waypointBar {
	height: 30px;
	background-color: $alphaBg;
}

.miniMap {
/*
	background-color: $alphaBg;
	background-image: url('..images/path-icon.png');
	background-size: 300px 3px;
	background-position: center;
	background-repeat: no-repeat;
*/
	
}

.endpoint {
}

.instructionsBar {
	height: 100px;
	background-color: $alphaBg;
}

.maneuverIcon {
}

.instructionsText {
}

.navBtn {
}

.toggleMenu {
	padding-left: 3px;
}

.searchBar {
	padding: 5px 0;
	.placesInput {
		font-size: 16px;
		padding-left: 5px;
	}
}

.locationBtn {
}

.menuFrame {
	height: 26px;
	width: 26px;
	border-radius: 2px;
	background-color: $alphaBg;
	cursor: pointer;
}


.dock {
	width: 1px;
	&.expand {
		height: 16px;
		background-image: url('../images/path-icon.png');
		background-size: 100% 3px;
		background-position: center;
		background-repeat: no-repeat;
		animation-name: path;
		animation-duration: 2s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 2;
		width: 100%;
	}
}

.pointBucket {
	width: 16px;
	height: 100%;
}

.waypoint {
	//display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: $standGreen;
	margin: 0 auto;
}

/*
.path {
	border: 1px solid white;
	width: calc((100% / 12) * 10);
	margin: 0 auto;
	position: absolute;
	margin-top: 14px;
}
*/

.icon {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	&.iconMenu {
		width: 26px;
		height: 26px;
		background-image: url('../images/menu-icon.png');
	}
	&.iconLocation {
		height: 20px;
		background-image: url('../images/location-icon.png');
		cursor: pointer;
		background-size: 18px 18px;
	}
	&.iconEndpoint {
		background-color: $standBlue;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		margin: 0 auto;
		&.end {
			background-color: $standGreen;
		}
	}
	&.iconCar {
		width: 100px;
		height: 100px;
		background-image: url('../images/car-outline-small.png');
		background-size: 100px 100px;
	}
	&.iconDiscover {
		height: 60px;
		border-radius: 2px;
		background-position: center top;
		text-align: center;
		color: white;
		padding-top: 15px;
		font-size: 14px;
		cursor: pointer;
		&.fa {
			font-size: 32px;
		}
		&.fa-car {
			font-size: 28px;
			background-color: $mutedOrange; 
		} 
		&.fa-paw {
			background-color: $mutedGreen;
		}
		&.fa-cutlery {
			background-color: $mutedYellow;
		}
		&.fa-money {
			background-color: $salmony;
		}
		&.fa-coffee {
			background-color: $mutedPurple;
		}
		&.fa-beer {
			background-color: $mutedBlue;
		} 
	}
}

.slideMenu {
	position: absolute;
	height: 0px;
	background-color: $alphaBg;	
	z-index: 101;
	&.open {
		animation: slideDown 0.2s;
		animation-timing-function: linear;
		animation-direction: normal;
		height: $menuHeight;
	}
	.menuOptions {
		display: none;
		&.active {
			display: initial;
			color: $menuTxt;
			list-style: none;
			text-decoration: none;
			padding: 40px 0 0 0;
			.opt {
				text-align: center;
				border-bottom: 1px solid rgba(255,255,255,0.2);
				align-items: center;
				cursor: pointer;
				height: 55px;
				font-weight: 300;
				letter-spacing: 0.03em;
				&:hover {
					background-color: rgba(40,40,40,1);
				}
				
				&:last-child {
					border-bottom: none;
				}
				&:first-child {
					margin-top: 45px;
				}
			}
		}
	#go-discover {
		color: $standGreen;
	}
	}
	.discoverOptions {
		display: none;
		max-height: 300px;
		&.active {
			display: initial;
			list-style: none;
			text-decoration: none;
			max-height: 300px;
			.opt {
				height: 80px;
				flex-wrap: wrap;
				justify-content: flex-start;
				&:first-child {
					padding-top: 30px;
					height: 110px;
				}
			}
		}
		.labels {
			text-align: center;
			color: white;
			height: 20px;
			max-height: 20px;
			justify-content: center;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 300;
			margin-top: -10px;
			
		}
	}
}

@-webkit-keyframes path {
	0%
	{ width: 1px; }
	100%
	{ width: 100%; }
}

@-moz-keyframes path {
	0%
	{ width: 1px; }
	100%
	{ width: 100%; }
}

@keyframes path {
	0%
	{ width: 1px; }
	100%
	{ width: 100%; }
}

@-webkit-keyframes slideDown {
	0%
	{ height: 0px; }
	100%
	{ height: $menuHeight; }
}

@-moz-keyframes slideDown {
	0%
	{ height: 0px; }
	100%
	{ height: $menuHeight; }
}

@keyframes slideDown {
	0%
	{ height: 0px; }
	100%
	{ height: $menuHeight; }
}