.column, .columns {
  margin: 0 auto;
  height: 100%;
}

.column.one, .columns.one {
  width: calc(100% / 12);
}

.column.two, .columns.two {
  width: calc((100% / 12) * 2);
}

.column.three, .columns.three {
  width: calc((100% / 12) * 3);
}

.column.four, .columns.four {
  width: calc((100% / 12) * 4);
}

.column.five, .columns.five {
  width: calc((100% / 12) * 5);
}

.column.six, .columns.six {
  width: calc((100% / 12) * 6);
}

.column.seven, .columns.seven {
  width: calc((100% / 12) * 7);
}

.column.eight, .columns.eight {
  width: calc((100% / 12) * 8);
}

.column.nine, .columns.nine {
  width: calc((100% / 12) * 9);
}

.column.ten, .columns.ten {
  width: calc((100% / 12) * 10);
}

.column.eleven, .columns.eleven {
  width: calc((100% / 12) * 11);
}

.column.twelve, .columns.twelve {
  width: 100%;
}

.column.fourth, .columns.fourth {
  width: 25%;
}

.column.third, .columns.third {
  width: calc(100% / 3);
}

.column.half, .columns.half {
  width: 50%;
}

.column.two-thirds, .columns.two-thirds {
  width: calc((100% / 3) * 2);
}

.column.three-quarters, .columns.three-quarters {
  width: 75%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flexRow.reverse {
  flex-direction: row-reverse;
}

.flexCol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.flexCol.reverse {
  flex-direction: column-reverse;
}

.flexItem {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}

.flexItem .x2 {
  flex-grow: 2;
}

.flexItem .x3 {
  flex-grow: 3;
}

.flexItem .x4 {
  flex-grow: 4;
}

.flexItem .x5 {
  flex-grow: 5;
}

.flexItem .x6 {
  flex-grow: 6;
}

.flexItem .x7 {
  flex-grow: 7;
}

.flexItem .x8 {
  flex-grow: 8;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  max-width: 100%;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background: #222;
  font-family: 'Roboto Condensed', sans-serif;
}

.app {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

#map {
  position: absolute;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.btmToolbar {
  height: 0px;
  bottom: 0;
  z-index: 100;
  position: absolute;
}

.btmToolbar.open {
  -moz-animation: rise;
  -moz-animation-duration: 0.3s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -webkit-animation: rise;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation: rise;
  animation-duration: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  height: 100px;
}

.btmToolbar.open.expand {
  -moz-animation: riseAgain;
  -moz-animation-duration: 0.2s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -webkit-animation: riseAgain;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation: riseAgain;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  height: 130px;
}

.waypointBar {
  display: none;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.85);
}

.waypointBar.open {
  display: flex;
  -moz-animation: dock;
  -moz-animation-duration: 0.2s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -webkit-animation: dock;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation: dock;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  height: 30px;
}

.instructionsBar {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.85);
}

.btmBarText {
  color: #DDD;
}

.btmBarText .heading {
  font-size: 12px;
}

.btmBarText .openNow {
  color: #28AF7D;
}

.btmBarText .closedNow {
  color: #d02e52;
}

.btmBarText .unavailable {
  color: #f4b350;
}

.toggleMenu {
  padding-left: 3px;
  margin-top: 5px;
  height: 30px;
  float: left;
}

.placesInput {
  font-size: 16px;
  padding-left: 5px;
  height: 30px;
  z-index: 120;
  margin-top: 5px;
}

.locationBtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 130;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px;
}

.menuFrame {
  height: 30px;
  width: 26px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  z-index: 105;
}

.dock {
  width: 0px;
}

.dock.expand {
  height: 16px;
  background-image: url("../images/path-icon.png");
  background-size: 100% 3px;
  background-position: center;
  background-repeat: no-repeat;
  -moz-animation: path;
  -moz-animation-duration: 1s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation: path;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation: path;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  width: 100%;
}

.pointBucket {
  width: 16px;
  height: 100%;
}

.waypoint {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #28AF7D;
  margin: 0 auto;
}

.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.icon.iconMenu {
  width: 26px;
  height: 26px;
  background-image: url("../images/menu-icon.png");
}

.icon.iconLocation {
  height: 100%;
  width: 100%;
  background-image: url("../images/location-icon.png");
  cursor: pointer;
  background-size: 18px 18px;
  z-index: 126;
}

.icon.iconLocation.finding {
  -moz-animation: spin360;
  -moz-animation-duration: 1s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation: spin360;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation: spin360;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.icon.iconEndpoint {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 auto;
}

.icon.iconEndpoint.end {
  background-color: #28AF7D;
}

.icon.iconEndpoint.start {
  border: 2px solid #DDD;
  background-color: #2a8ec8;
}

.icon.iconCar {
  width: 100px;
  height: 100px;
  background-image: url("../images/car-outline-small.png");
  background-size: 100px 100px;
}

.icon.iconDiscover {
  height: 60px;
  border-radius: 2px;
  background-position: center top;
  text-align: center;
  color: white;
  padding-top: 15px;
  font-size: 14px;
  cursor: pointer;
}

.icon.iconDiscover.fa {
  font-size: 32px;
}

.icon.iconDiscover.fa-car {
  font-size: 28px;
  background-color: #f2784b;
}

.icon.iconDiscover.fa-paw {
  background-color: #00b16a;
}

.icon.iconDiscover.fa-cutlery {
  background-color: #f4b350;
}

.icon.iconDiscover.fa-money {
  background-color: #e26a6a;
}

.icon.iconDiscover.fa-coffee {
  background-color: #674172;
}

.icon.iconDiscover.fa-beer {
  background-color: #3498db;
}

.slideMenu {
  position: absolute;
  height: 0px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 101;
}

.slideMenu.open {
  animation: slideDown 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  height: 380px;
}

.slideMenu .menuOptions {
  display: none;
}

.slideMenu .menuOptions.active {
  display: initial;
  color: #DDD;
  list-style: none;
  text-decoration: none;
  padding: 40px 0 0 0;
}

.slideMenu .menuOptions.active .opt {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  cursor: pointer;
  height: 55px;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.slideMenu .menuOptions.active .opt:hover {
  background-color: #282828;
}

.slideMenu .menuOptions.active .opt:last-child {
  border-bottom: none;
}

.slideMenu .menuOptions.active .opt:first-child {
  margin-top: 45px;
}

.slideMenu .menuOptions #go-discover {
  color: #28AF7D;
}

.slideMenu .discoverOptions {
  display: none;
  max-height: 300px;
}

.slideMenu .discoverOptions.active {
  display: initial;
  list-style: none;
  text-decoration: none;
  max-height: 300px;
}

.slideMenu .discoverOptions.active .opt {
  height: 80px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.slideMenu .discoverOptions.active .opt:first-child {
  padding-top: 30px;
  height: 110px;
}

.slideMenu .discoverOptions .labels {
  text-align: center;
  color: white;
  height: 20px;
  max-height: 20px;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
  margin-top: -10px;
}

@-moz-keyframes path {
  0%
{
    width: 0px;
  }
  100%
{
    width: 100%;
  }
}

@-webkit-keyframes path {
  0%
{
    width: 0px;
  }
  100%
{
    width: 100%;
  }
}

@keyframes path {
  0%
{
    width: 0px;
  }
  100%
{
    width: 100%;
  }
}

@-moz-keyframes slideDown {
  0%
{
    height: 0px;
  }
  100%
{
    height: 380px;
  }
}

@-webkit-keyframes slideDown {
  0%
{
    height: 0px;
  }
  100%
{
    height: 380px;
  }
}

@keyframes slideDown {
  0%
{
    height: 0px;
  }
  100%
{
    height: 380px;
  }
}

@-moz-keyframes pulse {
  0%
{
    opacity: 1;
  }
  100%
{
    opacity: 0.6;
  }
}

@-webkit-keyframes pulse {
  0%
{
    opacity: 1;
  }
  100%
{
    opacity: 0.6;
  }
}

@keyframes pulse {
  0%
{
    opacity: 1;
  }
  100%
{
    opacity: 0.6;
  }
}

@-moz-keyframes spin360 {
  0%
{
    -moz-transform: rotate(0deg);
  }
  100%
{
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin360 {
  0%
{
    -webkit-transform: rotate(0deg);
  }
  100%
{
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin360 {
  0%
{
    transform: rotate(0deg);
  }
  100%
{
    transform: rotate(360deg);
  }
}

@-moz-keyframes rise {
  0%
{
    height: 0px;
  }
  100%
{
    height: 100px;
  }
}

@-webkit-keyframes rise {
  0%
{
    height: 0px;
  }
  100%
{
    height: 100px;
  }
}

@keyframes rise {
  0%
{
    height: 0px;
  }
  100%
{
    height: 100px;
  }
}

@-moz-keyframes riseAgain {
  0%
{
    height: 100px;
  }
  100%
{
    height: 130px;
  }
}

@-webkit-keyframes riseAgain {
  0%
{
    height: 100px;
  }
  100%
{
    height: 130px;
  }
}

@keyframes riseAgain {
  0%
{
    height: 100px;
  }
  100%
{
    height: 130px;
  }
}

@-moz-keyframes dock {
  0%
{
    height: 0px;
  }
  100%
{
    height: 30px;
  }
}

@-webkit-keyframes dock {
  0%
{
    height: 0px;
  }
  100%
{
    height: 30px;
  }
}

@keyframes dock {
  0%
{
    height: 0px;
  }
  100%
{
    height: 30px;
  }
}

/*# sourceMappingURL=style.map */