$bodypad: 5px;
$maxh: calc(100vh - 10px);
$bodybg: #333;
$opacitybg: rgba(0,0,0,0.75);
$mapidx: 1;
$headeridx: 900;
$menuidx: 920;
$footeridx: 950;
$magnifyidx: 910;
$btnbg: rgba(184,80,150,1);
$btnhover: rgba(210,105,175,1);
$standrad: 1px;
//$standgreen
//$standpink
//$standblue

@mixin applyKeyframes($name, $duration, $timing: ease-out, $delay: 0s, $iteration: 1, $direction: normal) {
	animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
}

// components
.button {
	border: none;
	box-shadow: none;
	background-color: $btnbg;
	color: white;
	padding: 10px 15px;
	letter-spacing: 0.02em;
	-webkit-appearance: none;
	outline: none;
	border-radius: $standrad;
	font-family: 'Roboto', sans-serif;
	//font-weight: 500;
		
	&:hover {
		@include applyKeyframes(buttonFade, 0.5s);
		background-color: $btnhover;
	}
		
	.wide {
		width: 100%;
	}
}

// mobile first
.container {
	height: 100%;
	max-width: 100%;
	padding: $bodypad;
	background-color: $bodybg;
	position: relative;
	overflow: hidden;
}

 .gMap {
	width: 100%;
	max-width: 100%;
	height: $maxh;
	max-height: $maxh;
	z-index: $mapidx;
}

.icon {
	display: block;
	background-repeat: no-repeat;
	background-position: center;
}

.header {
	width: calc(100% - 10px);
	max-width: 100%;
	height: 60px;
	margin: 0 auto;
	background-color: $opacitybg;
	z-index: $headeridx;
	position: absolute;
	top: 0;
	
	.menuIcon {
		height: 40px;
		width: 30px;
		padding: 0;
		background-image: url('../images/menu-icon-30x35.png');
		background-size: 30px 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		margin: 10px 5px;
		
		&:hover {
			@include applyKeyframes(none, 0s);
			background-color: transparent;
		}
	}
	.searchIcon {
		width: 20px;
		height: 32px;
		background-image: url('../images/search.png');
		background-size: 20px 20px;
		position: absolute;
		top: 0;
		z-index: $magnifyidx;
	}
	
	.getLocIcon {
		width: 20px;
		height: 20px;
		background-image: url('../images/location.png');
		background-size: 20px 20px;
		position: absolute;
		margin-left: calc(100% - 72px);
		margin-top: -25px; 
		cursor: pointer;
		
		&.find {
			@include applyKeyframes(spin, 1s, $timing: ease-in);
		}
	}
}

/*
.searchForm {
	margin: -45px 0 0 45px;
	width: 80%;
	max-width: 80%;
}
*/

.searchBox {
	border-radius: 2px;
	border: none;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: calc(100% - 110px);
	padding-left: 30px;
}

.sideMenu {
	width: 60%;
	max-width: 400px;
	height: 400px;
	background-color: transparent;
	position: absolute;
	top: 60px;
	border-bottom-right-radius: 3px;
	display: none;
	z-index: $menuidx;
	
	&.open {
		@include applyKeyframes(slideMenu, 0.1s);
		background-color: $opacitybg;
		display: block;
	}
}

.optionToggle {
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-left: calc(100% - 40px);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.goNight {
	background-image: url('../images/moon.png');
	background-size: 20px 17px;
}

.goDay {
	background-image: url('../images/sun.png');
}

.userIcon {
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-lefT: 10px;
	background-size: 15px 20px;
	background-color: white;
	position: absolute;
}

.footer {
	position: fixed;
	bottom: 5px;
	height: 100px;
	width: calc(100% - 10px);
	margin-left: 5px;
	background-color: rgba(225,225,225,0.9);
	z-index: $footeridx;
	left: 0;
	font-family: 'Roboto', sans-serif;
	display: none;
	
	.instructions {
		padding: 0;
		margin-top: -80px;
		margin-left: calc(15% + 15px);
	}
}

.directionIcon {
	width: 50px;
	height: 80px;
	margin-left: 5px;
	margin-top: 10px;
	border-radius: $standrad;
	background-color: tomato;
}

.carIcon {
	width: 50px;
	height: 80px;
	background-color: tomato;
	margin-left: calc(80% - 5px);
	margin-top: -35px;
	border-radius: $standrad;
}


.grid15 {
	width: 15%;
}

.grid20 {
	width: 20%;
}

.grid60 {
	width: 60%;
}

// tablets and above
@media (min-width: 760px) {
	
}

// desktop plus
@media (min-width: 1024px) {
	
}

@-moz-keyframes buttonFade {
	0%
	{ background-color: $btnbg; }
	100%
	{ background-color: $btnhover; }
}

@-webkit-keyframes buttonFade {
	0%
	{ background-color: $btnbg; }
	100%
	{ background-color: $btnhover; }
}

@keyframes buttonFade {
	0%
	{ background-color: $btnbg; }
	100%
	{ background-color: $btnhover; }
}

@-moz-keyframes slideMenu {
	0%
	{ display: none; background-color: transparent; }
	100%
	{ display: block; background-color: $opacitybg; }
}

@-webkit-keyframes slideMenu {
	0%
	{ display: none; background-color: transparent; }
	100%
	{ display: block; background-color: $opacitybg; }
}

@keyframes slideMenu {
	0%
	{ display: none; background-color: transparent; }
	100%
	{ display: block; background-color: $opacitybg; }
}

@-moz-keyframes spin {
	100%
	{ -moz-transform: rotate(360deg); }	
}

@-webkit-keyframes spin {
	100%
	{ -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	100%
	{ transform: rotate(360deg); }
}